extends ../layout

block content
    h1 My Lists
    - lists.forEach( list => {        // Nested forEach, consider refactoring later
      .well        
          h3: a(href='/lists/' + list._id)= list.title         
          h4= list.description
            ol         
            - list.item.forEach( item => {
              li= item
            - })
          button.btn.btn-primary.button-xs: a(href='/lists/' + list._id + '/edit')   Edit this list!
          form(action='/lists/' + list._id + '?_method=DELETE' method="POST")
            button.btn.btn-danger.button-xs(type='submit') Delete
          
    - })
    a.btn.btn-success(href="/lists/new") #[span.glyphicon.glyphicon-plus(aria-hidden="true")] Add List
