extends ../layout

block content
    form(action='/lists/' + list._id + '?_method=DELETE' method="POST")
        h3= list.title         
        h4= list.description
            ol
            - list.item.forEach( item => {
            li= item
            - })
        button.btn-danger.button-xs(type='submit') Delete?
        button.btn-primary.button-xs: a(href='/lists/' + list._id + '/edit') Edit this list!