extends layout

block content
  h1 Welcome to Year End Top Ten!
  article.well Year End Top Ten (YET10) is a place for you to reflect on things in the last year and record them in a nice listicle format.  
  br
  br
  br
  p= loginMessage
